*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
body{
  font-family: 'Open Sans', sans-serif;
}

header{
justify-content: flex-end;
margin-top: 30px;
margin: 30px auto;
}

nav .li .nav-link { 
float: right;
color: #000;
margin-right:6.6%;
padding-top: 0px;
width: 70.5%;
font-size: 15px;
left: 40px;

}

#logo{

position:relative;
top: 30px;
width: 200px;

}

#barra{

position: relative;
font-size: 13px;
left: 45px;
bottom: 10px;

}

.fondoblue{

background: url("../img/fondoazul.png")no-repeat;
height: 600px;
background-size: cover;
margin-top: 53px;
        
}

#word{
color: #fff; 
margin-top: 60px;
text-align: center;
position: relative;
font-size: 40px;

}

.learn{

margin: 5px auto;
position: relative;
left: 700px;
bottom: 45px;

}

#computadora{   
     
   text-align: center;
   padding-top: 90px;
} 